$font-family: 'NanumSquare', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI';

$gray9: #1b1d1f;
$gray8: #26282b;
$gray7: #383b40;
$gray6: #474c51;
$gray5: #74787d;
$gray4: #a0a4a8;
$gray3: #b5b9bf;
$gray2: #cacdd1;
$gray1: #e9ebed;
$gray0: #f7f8f9;
$white: #ffffff;